@import './style';

.hero.is-userfeeds {
  background-color: $userfeeds;
  margin-bottom: 0;

  .hero-body {
    padding-bottom: 14rem;
  }

  .header-content-title {
    margin-top: -.375rem;
    margin-bottom: 4rem;
  }

  .header-content-subtitle {
    color: rgba($white, .8);
    font-weight: normal;
  }

  .default-text {
    color: rgba($white, .8);
    font-size: 1.25rem;
  }
}

.userfeeds {
  .is-size-1, .is-size-2, .is-size-3, .is-size-4, .is-size-5, .is-size-6 {
    color: $userfeeds;
  }

  .default-text {
    color: rgba($userfeeds, .8);
  }
}

.userfeedsCases {
  background-color: $userfeeds;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mobile {
    z-index: 2;
  }

  &::after, &::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 50%;
    z-index: 0;
    bottom: 0;
  }

  &::before {
    top: 0;
    left: 0;
    background-color: $white;
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    z-index: 0;
    background-color: $userfeeds;
    top: 0;
    bottom: 0;

  }

  &-columns {
    padding-top: 8rem;
    padding-bottom: 8rem;
    border-radius: $radius-large;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }

  &-content {
    padding-right: 4rem;
  }

  &-each {
    margin-top:6.25rem;
    & + &{
      margin-top: 6.25rem;
    }

    .default-title {
      margin-bottom: 0;
    }
  }

  .default-text {
    margin-bottom: 4rem;
  }

  .media {

    @include mobile {
      flex-direction: column
    }

    & + .media {
      margin-top: 6.25rem;
      border-top: none;
      padding-top: 0;
    }
  }

  .media-left {
    @include mobile {
      margin-bottom: .75rem;
    }

    @include tablet {
      width: 50%;
    }

    .image > img {
      width: auto;
    }
  }

  .media-content .is-size-4 {
    font-weight: normal;
    margin-bottom: 1rem;
  }
}

.userfeedsExamples {
  background-color: $userfeeds;
  overflow-x: hidden;

  .default-title {
    margin-bottom: 1rem;
  }

  .default-text {
    position: relative;
    z-index: 2;
  }

  &-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 228px;
      height: 228px;
      transform: translate(50%, -50%);
      background-image: url(/assets/images/dots.png);
      z-index: 1;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 377px;
      height: 520px;
      transform: translate(-200px, -145px);
      background-image: url(/assets/images/userfeeds-embed-bg.png);
      z-index: 1;
    }

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      box-shadow: rgba($black, .25) 0 0 30px;
    }
  }
}


.userfeedsSpeculative {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top:8rem;

  &-columns {
    padding-top: 8rem;
    padding-bottom: 8rem;
    border-radius: $radius-large;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }

  &-content {
    padding-right: 4rem;
  }

  &-each {
    .default-title {
      margin-bottom: 0;
    }
  }

  .default-text {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .media {

    @include mobile {
      flex-direction: column
    }

    & + .media {
      margin-top: 6.25rem;
      border-top: none;
      padding-top: 0;
    }
  }

  .media-left {
    @include mobile {
      margin-bottom: .75rem;
    }

    @include tablet {
      width: 50%;
    }

    .image > img {
      width: auto;
    }
  }

  .media-content .is-size-4 {
    font-weight: normal;
    margin-bottom: 1rem;
  }
}



.userfeedsIntro {
  background-color: #F9FAFC;
  overflow-x: hidden;

  .default-title {
    margin-bottom: 4rem;
  }

  .default-text {
    position: relative;
    z-index: 2;
  }

  &-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 228px;
      height: 228px;
      transform: translate(50%, -50%);
      background-image: url(/assets/images/dots.png);
      z-index: 1;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 377px;
      height: 520px;
      transform: translate(-200px, -145px);
      background-image: url(/assets/images/userfeeds-embed-bg.png);
      z-index: 1;
    }

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      box-shadow: rgba($black, .25) 0 0 30px;
    }
  }
}

.userfeedsIntro, .userfeedsExamples, .userfeedsApp-columns {
  overflow: visible; 

  .default-text {
    font-size: 1.5rem;

    a {
      color: #09d57c;
      font-weight: bold;

      &:hover, &:focus {
        color: darken(#09d57c, 10%);
      }
    }
  }
}

.userfeedsQuote {
  padding-bottom: 0 !important;
  position: relative;
  z-index: 6;

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .default-text {
    font-size: 1.5rem;
    max-width: 37.5rem;

    @include mobile {
      margin-bottom: 3rem;
    }
  }

  @include mobile {

    &-images {

      > img {
        display: block;
        margin-bottom: 1.5rem;
        width: 100%;
        height: auto;
      }
    }
  }

  @include tablet {
    &-images {
      max-width: 60rem;
      margin-top: 12rem;
      position: relative;

      > img {
        width: 54%;
        height: auto;
      }

      > .userfeedsQuote-img2 {
        position: absolute;
        right: 0;
        top: -30%;
      }

      > .userfeedsQuote-img3 {
        position: absolute;
        right: 0;
        top: 70%;
      }

      > .userfeedsQuote-img4 {
        position: absolute;
        display:none;
        left: 0;
        top: 40%;
      }

    }
  }
}

.userfeedsExamples {
  position: relative;
  z-index: 5;

  &, .default-title, .section-title, .default-text, .media-content > .is-size-6 {
    color: $white;
  }



  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    z-index: 0;
    top: 0;
    bottom: 0;
  }

  > .container {
    z-index: 1;
  }

  &-columns {
    border-radius: $radius-large 0 0 0;
    background-color: #F9FAFC;
    padding-top: 15rem;
  }

  &-item {
    padding-top: 4em;
    

    & + & {
      padding-top: 2rem;
    }

    @include desktop {
      .section-title {
        padding-left: 2em;
      }
    }
 
    .column {
      position: relative;
    }

    .is-size-4 {
      margin-top: .375rem;
    }

    .button {
      font-weight: bold;
      color: $white;
      background-color:transparent;
      border-color:rgba(255,255,255,0.2);

      @include touch {
        margin-top: -1rem;
        margin-bottom: 2rem;
      }

      @include desktop {
        position: relative;
        top: .75rem;
      }
    }
  }
}

.userfeedsImage {
  height: 50vw;
  background-repeat: none;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: calc((100% - #{$desktop} - 30px)/2);
    right: 0;
    z-index: 0;
    background-color: $userfeeds;
    top: 0;
    bottom: 0;
  }
}

.userfeedsTeam {
  background-color: $userfeeds;

  &-social {
    display: flex;
    flex-direction: row;
    opacity: .5;
    width: 100%;
    margin-top: 1.2rem;

    .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;      

      > svg {
        width: 100%;
        height: auto;
      }
    }
  }


  &, .section-title{
    color: $white;
  }

  &-content .column{
    margin-bottom: 1rem;
    color: $white;

    @include desktop {
      margin-bottom: 4rem;
    }

    > h3 {
      margin-top: .375rem;
      color: $white;
    }
  }
}

.userfeedsInvestors-images > img {
  margin-bottom: 1rem;
}

.userfeedsLocation {
  background-color: $white-bis;
  position: relative;

  @include mobile {
    margin-bottom: 0;
  }

  @include desktop {
    padding-bottom: 0 !important;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      width: calc((100% - #{$desktop} - 30px)/2);
      right: 0;
      z-index: 0;
      background-color: $white;
      top: 0;
      bottom: 0;
    }
  }

  &-dl {
    overflow: hidden;

    > dt, > dd {
      float: left;
      margin-bottom: .375rem;
    }

    > dt {
      clear: left;
      width: 5rem;
      padding-right: .5rem;
      color: rgba($userfeeds, .6);
    }

    > dd {
      color: $userfeeds;
    }
  }

  @include mobile {
    &-images {

      > img {
        display: block;
        margin-bottom: 1.5rem;
        width: 100%;
        height: auto;
      }
    }
  }

  @include tablet {
    &-images {
      max-width: 60rem;
      margin-top: 8rem;
      padding-bottom: 20%;
      position: relative;

      > img {
        width: 63%;
        height: auto;
      }

      > .userfeedsLocation-img2 {
        position: absolute;
        right: 0;
        top: 140px;
      }
    }
  }

  $directions-size: (80/16) * 1rem;

  &-directions {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    border-radius: $radius-large;
    box-shadow: rgba($darkblue, .1) 0 .625rem 2rem;
    font-size: 1.5rem;
    line-height: 1;
    justify-content: space-between;
    color: $userfeeds;
    position: relative;
    z-index: 3;
    width: auto;
    margin-top: 1rem;
    align-items: stretch;

    @include mobile {
      font-size: 1.25rem;
      margin-top: 0;
    }

    @include tablet {
      position: absolute;
      top: 1rem;
      right: 0;
    }

    @include desktop {
      right: -1rem;
    }

    > span {
      display: block;
      padding: 1em 1.25em;
      white-space: nowrap;

      > svg {
        display: inline-block;
        vertical-align: middle;
        height: 1.5rem;
        width: auto;
        margin-top: -3px; // just a visual fix
        margin-right: .5rem;
      }
    }

    > i {
      display: block;
      text-align: center;
      background-color: $red;
      color: $white;
      border-radius: 0 $radius-large $radius-large 0;
      padding: 1em 1.25em;
    }
  }
}

.globe {
  position: absolute;
  top: -30vh;
  right: 0;
  z-index: 2;

  @include tablet {
    right: -25%;
  }
}


@keyframes thirdPosition {
  0% {
    transform: scale(0.9) translateY(95px);
  }

  10% {
    transform: scale(1.1) translateY(0px);
  }

  30% {
    transform: scale(0.9) translateY(0px);
  }

  50% {
    transform: scale(1.1) translateY(47px);
  }
 
  70% {
    transform:scale(0.9) translateY(47px);
  }

  90% {
    transform:scale(1.1) translateY(95px);
  }

  100% {
    transform:scale(0.9) translateY(95px);
  }
}

@keyframes secondPosition {
  0% {
    transform: scale(0.9) translateY(47px);
  }

  20% {
    transform: scale(1.1) translateY(95px);
  }

  40% {
    transform: scale(0.9) translateY(95px);
  }

  60% {
    transform: scale(1.1) translateY(0px);
  }
 
  70% {
    transform:scale(0.9) translateY(0px);
  }

  90% {
    transform:scale(1.1) translateY(47px);
  }

  100% {
    transform:scale(0.9) translateY(47px);
  }
}


@keyframes firstPosition {
  0% {
    transform: scale(0.9) translateY(0px);
  }

  20% {
    transform: scale(1.1) translateY(47px);
  }

  40% {
    transform: scale(0.9) translateY(47px);
  }

  60% {
    transform: scale(1.1) translateY(95px);
  }
 
  80% {
    transform:scale(0.9) translateY(95px);
  }

  90% {
    transform:scale(1.1) translateY(0px);
  }

  100% {
    transform:scale(0.9) translateY(0px);
  }
}


@keyframes claimsRobot {
  0% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(1.15);
  }

  20% {
    transform: scale(0.9);
  }

  100% {
    transform:scale(0.9);
  }
}

@keyframes claimsLink {
  0% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(0.9);
  }

  20% {
    transform: scale(1.2);
  }

  30% {
    transform:scale(0.9);
  }

  100% {
    transform:scale(0.9);
  }
}

@keyframes claimsWidget {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.15);
  }

  35% {
    transform:scale(1);
  }

  100% {
    transform:scale(1);
  }
}

@keyframes votingFourth {
  0% {
    transform: scale(0.9);
  }

  20% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.15);
  }

  40% {
    transform:scale(0.9);
  }

  100% {
    transform:scale(0.9);
  }
}


@keyframes firstMan {
  0% {
    transform: translate(12px,83px);
  }

  50% {
    transform: translate(12px,79px);
  }

  100% {
    transform: translate(12px,83px);
  }
}

@keyframes secondMan {
  0% {
    transform: translate(130px,8px);
  }

  50% {
    transform: translate(130px,12px);
  }

  100% {
    transform: translate(130px,8px);
  }
}


@keyframes thirdMan {
  0% {
    transform: translate(122px,82px);
  }

  50% {
    transform: translate(122px,77px);
  }

  100% {
    transform: translate(122px,82px);
  }
}

@keyframes fourthMan {
  0% {
    transform: translate(2px,4px);
  }

  50% {
    transform: translate(2px,0px);
  }

  100% {
    transform: translate(2px,4px);
  }
}


@keyframes firstNetwork {
  0% {
    transform: translate(0px,94px);
  }

  50% {
    transform: translate(0px,100px);
  }

  100% {
    transform: translate(0px,94px);
  }
}


@keyframes secondNetwork {
  0% {
    transform: translate(152px,8px);
  }

  50% {
    transform: translate(152px,13px);
  }

  100% {
    transform: translate(152px,8px);
  }
}

@keyframes thirdNetwork {
  0% {
    transform: translate(155px,98px);
  }

  50% {
    transform: translate(155px,93px);
  }

  100% {
    transform: translate(155px,98px);
  }
}

@keyframes fourthNetwork {
  0% {
    transform: translate(0px,0px);
  }

  50% {
    transform: translate(0px,4px);
  }

  100% {
    transform: translate(0px,0px);
  }
}

@keyframes contentWhitepaper {
  0% {
    transform: translate(0px,4px);
  }

  20% {
    transform: translate(0px,11px);
  }

  100% {
    transform: translate(0px,4px);
  }
}

@keyframes redditFirst {
  0% {
    transform: scale(0.8);
  }

  20% {
    transform: scale(1.1);
  }
  40% {
    transform:scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes redditSecond {
  0% {
    transform: scale(0.8);
  }

  10% {
    transform: scale(0.8);
  }
  30% {
    transform:scale(1.1);
  }
  50% {
    transform:scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes redditThird {
  0% {
    transform: scale(0.8);
  }

  20% {
    transform: scale(0.8);
  }
  40% {
    transform:scale(1.1);
  }
  60% {
    transform:scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes redditWidget {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1);
  }
  50% {
    transform:scale(1.1);
  }
  70% {
    transform:scale(1);
  }

  100% {
    transform: scale(1);
  }
}






#firstMan {
  transform-origin:50% 50%;
  animation: firstMan 3s ease infinite;
}

#secondMan {
  transform-origin:50% 50%;
  animation: secondMan 3s ease infinite;
}

#thirdMan {
  transform-origin:50% 50%;
  animation: thirdMan 3s ease infinite;
}

#fourthMan {
  transform-origin:50% 50%;
  animation: fourthMan 3s ease infinite;
}

#thirdPosition { 
  transform-origin:50% 50%;
  animation: thirdPosition 6s ease infinite; }

#secondPosition { 
  transform-origin:50% 50%;
  animation: secondPosition 6s ease infinite; }

#firstPosition { 
  transform-origin:50% 50%;
  animation: firstPosition 6s ease infinite; }


#claimsRobot { 
  transform-origin:50% 50%;
  animation: claimsRobot 3s ease infinite; }

#claimsLink { 
  transform-origin:50% 50%;
  animation: claimsLink 3s ease infinite; }

#claimsWidget { 
  transform-origin:50% 50%;
  animation: claimsWidget 3s ease infinite; }

#girlOval {
  transform-origin:50% 50%;
  animation:claimsWidget 6s ease infinite;
}


#votingFirst { 
  transform-origin:50% 50%;
  animation: claimsRobot 3s ease infinite; }

#votingSecond { 
  transform-origin:50% 50%;
  animation: claimsLink 3s ease infinite; }

#votingThird { 
  transform-origin:50% 50%;
  animation: claimsWidget 3s ease infinite; }


#votingFourth { 
  transform-origin:50% 50%;
  animation: votingFourth 3s ease infinite; }

#firstNetwork {
  transform-origin:50% 50%;
  animation:firstNetwork 3s ease infinite;
}

#secondNetwork {
  transform-origin:50% 50%;
  animation:secondNetwork 3s ease infinite;
}

#thirdNetwork {
  transform-origin:50% 50%;
  animation:thirdNetwork 3s ease infinite;
}

#fourthNetwork {
  transform-origin:50% 50%;
  animation:fourthNetwork 3s ease infinite;
}

#redditFirst{
  transform-origin:50% 50%;
  animation:redditFirst 3s ease infinite;
}

#redditSecond{
  transform-origin:50% 50%;
  animation:redditSecond 3s ease infinite;
}

#redditThird{
  transform-origin:50% 50%;
  animation:redditThird 3s ease infinite;
}

#redditWidget{
  transform-origin:50% 50%;
  animation:redditWidget 3s ease infinite;
}


#contentWhitepaper{
  transform-origin:50% 50%;
  animation:contentWhitepaper 3s ease infinite;
}


@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}



@keyframes eth1 {
  0% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(15px);
  }
}


@keyframes eth2 {
  0% {
    transform: translateY(80px) translateX(20px);
  }

  50% {
    transform: translateY(90px) translateX(20px);
  }

  100% {
    transform: translateY(80px) translateX(20px);
  }
}

@keyframes eth3 {
  0% {
    transform: translateY(30px) translateX(260px);
  }

  50% {
    transform: translateY(10px) translateX(260px);
  }

  100% {
    transform: translateY(30px) translateX(260px);
  }
}

@keyframes first {
  0% {
    transform: translateY(170px) translateX(230px);
  }

  50% {
    transform: translateY(175px) translateX(230px);
  }

  100% {
    transform: translateY(170px) translateX(230px);
  }
}



@keyframes scale {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}



#up { animation: up 4s ease infinite; }
#bottom { animation: down 3s ease infinite; }
#ethIcon1 {animation:eth1 5s ease infinite;}
#ethIcon2 {animation:eth2 5s ease infinite;}
#ethIcon3 {animation:eth3 4s ease infinite;}
#first {animation:first 4s ease infinite;}

#shadow {
  opacity:0.7;
  transform-origin: 50% 50%;
  animation: scale 4s ease infinite;
}

#shadow-manual {
  opacity:0.3;
  transform-origin: 50% 50%;
  animation: scale 3s ease infinite;
}

#main {
  animation:down 3s ease infinite;
}

#rectangular {
  animation:down 3s ease infinite;
}

#play {
  animation:down 3s ease infinite;
}
